/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {background-color:tan;}
h1 {color:maroon;font-size:24pt;}
p {font-size:12pt;margin-left:15px;}
a:link {color:green;}
a:visited {color:yellow;}
a:hover {color:navy;}
a:active {color:blue;}

